config.json

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
.env/
.env
pip-log.txt
pip-delete-this-directory.txt

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/
.idea/
